aside {
    --story-page-vh: 1vh;
    position: fixed !important;
    top: 0;
    max-height: 100vh !important;
    height: 100vh;
    max-width: 80vw;
    background-color: #efefef;
    min-width: 20rem;
    outline: none;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    z-index: 2147483647;
    -webkit-overflow-scrolling: touch;
    will-change: transform;
    left: 0;
    transition: all;
    box-shadow: 1px 1px 100px 10px;
}

aside>nav>button {
    height: 102px;
}